 body {
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
      margin: 0;
    }

    h1 {
      color: #0a0908;
      background-color: white;
      border-style:inset;
    }

    .container {
      background-color: #4d5151b4;
      padding: 80px;
      border-radius: 16px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      width: 200px;
      text-align: center;
    }

    select {
      margin-top: 5px;
      padding: 10px;
      font-size: 10px;
      border-radius: 5px;
      border: 1px solid #ccc;
      width: 70%;
    }

    #langSelect {
      width: 50%;
      margin-top: 10px;

    }

    p {
      font-size: 14px;
      color: #444;
      margin-top: 15px;
    }
 button {
      margin-top: 10px;
      padding: 8px;
      font-size: 16px;
      border-radius: 5px;
      border: 1px solid #ccc;
      width: 30%;
    }
   

    button {
      background-color: #0c0c0a;
      color: white;
      border: none;
      cursor: pointer;
    }

    button:hover {
      background-color: #1f8446;
    }
 
